body {
    background-color: rgba(55, 219, 203, 0.91);
}

h1{
    color: black;
    margin-left: 25px;

    font-family: "oswald", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:bold;

}

a.logo{
    background-color: lightgray;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
}

header{
    display: flex;
    padding: 50px;
}

ul#taskList{
    list-style-type: none;
    padding: 0;
}

ul#taskList li{
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: silver;
    padding: 5px 30px;

}

ul#taskList li:nth-child(2n) {
    background-color: rgba(147, 69, 173, 0.847)

}

ul#taskList li button {
    float: right;
} 

header, main {
    width: 50%;
    margin: auto;
}

.btDelete {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(61, 54, 42);
    font-size: 18px;

}

.btDelete:hover {
    color: darkred;
}

ul#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: red;
}

.task {
    cursor: pointer;
}